/* ---- reset ---- */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
  background: #080211;
}

::-webkit-scrollbar {
  display: none;
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -1;
}

/* ---- stats.js ---- */

.count-particles {
  /* background: #000022; */
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13e8e9;
  font-size: 0.8em;
  text-align: center;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles {
  font-size: 1.1em;
}

#stats,
.count-particles {
  -webkit-user-select: none;
  opacity: 0.5;
  margin: auto;
}

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles {
  border-radius: 0 0 3px 3px;
  opacity: 1;
  margin: auto;
}

.heading {
  padding: 250px;
  text-align: center;
  color: white;
}

/* speaker css */
.container {
  position: relative;
  width: 100%;
  color: rgb(255, 255, 255);
}

.container:hover .image {
  opacity: 0.3;
  transform: scale(1.5);
}

.image {
  height: 100%;
}

.overlay {
  position: absolute;
  bottom: 0;
  right: 50;
  background-color: #000000;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 0.2s ease;
}

.container:hover .overlay {
  width: 100%;
  left: 0;
}

.text {
  align-content: center;
  color: white;
  font-size: 12px;
  position: absolute;
  top: 3%;
  left: 10%;
  right: 5%;
  justify-content: center;
  padding: 5%;
  /* -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;  */
}

.text_heading {
  align-content: center;
  color: white;
  font-size: 15px;
  position: absolute;
  top: 10%;
  left: 10%;
  right: 5%;
  justify-content: center;
}

.img-text{
  align-content: center;
  color: white;
  font-size: 12px;
  position: absolute;
  padding: 5%;
  top: 3%;
  left: 10%;
  right: 5%;
  justify-content: center;
}
/* past speakers */
/* past speakers */

/* clock countdown */
/* .c1 {
  color: #333;
  text-align: center;
}

h1 {
  font-weight: normal;
}

li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 4.5rem;
} */

/* countdown arpit css */

body {
  text-align: center;
  background: #000000;
  font-family: sans-serif;
  font-weight: 100;
}

h1 {
  color: #ffffff;
  font-weight: 600;
  font-size: 40px;
  margin: 40px 0px 20px;
}

#clockdiv {
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 60px;
}

#clockdiv>div {
  padding: 10px;
  border-radius: 3px;
  background: #000000;
  display: inline-block;
}

#clockdiv div>span {
  padding: 40px;
  /* 	border-radius: 3px; */
  background: #ec2b08;
  display: inline-block;
}

.smalltext {
  padding-top: 7px;
  font-size: 23px;
}

/* media queries */

@media screen and (max-width: 400px) {
  .text {
    font-size: 11px;
  }

  #clockdiv div>span {
    padding: 20px;
  }
}

@media screen and (max-width: 800px) {
  #logo {
    padding-top: 140px;
  }

  #part1 {
    height: 265px;
  }

  .header {
    display: none;
  }
}

/* @media screen and (min-width : 700px ) and (max-width: 1400px) {
  .text {
    font-size: 10px;
  } */
/* }  */

/* @media screen and (max-width: 600px) {
  #logo{
    padding-top: 300px;
  }
  .container:active .overlay {
    width: 100%;
    left: 0;
  }
} 

/* border in the images */
.change {
  border: 3px solid black;
}

footer {
  background-color: black;
  padding: 0mm;
}

.Place {
  padding-bottom: 2%;
}

.icon {
  color: #ec2b08;
}

.icon:hover {
  color: white;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials li {
  margin: 0 10px;
  color: #ec2b08;
}

h4 {
  margin-top: 10px;
  color: white;
}

p {
  color: rgb(143, 141, 146);
  text-align: justify;
  text-justify: inter-word;
}

.copyright_footer {
  background-color: #000000;
}

.form {
  height: 100vh;
  background-color: white;
  flex-grow: 1;
}

.form_left {
  /* background: url("./assets/img/IMG_20191013_102851.jpg"); */
  background: url("./assets/img/back.png");
  background-position: center;
  background-size: cover;
}

.form_right {}

#formm {
  height: 100px;
}
.image-content {
  display: none;
}

.show {
  display: block;
}
