
html {
	scroll-behavior: smooth;
	/* font-family: 'Montserrat', sans-serif; */
  }
  
  ::-webkit-scrollbar{
	display: none;
  }

body {
	background-color: black;
	color: white;
	font-family: Arial, sans-serif;
}

.container {
	width: 60%;
	margin: 0 auto;
	padding: 50px;
}

h1 {
	font-size: 45px;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 50px;
	color: white;
}

form {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;
}

label {
	display: block;
	font-size: 18px;
	margin-bottom: 10px;
	color: white;
}


  a.underline-hover-effect {
	text-decoration: none;
	color: inherit;
  }
  
  .underline-hover-effect {
	display: inline-block;
	padding-bottom: 0.25rem; 
	position: relative;
  }
  
  .underline-hover-effect::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 2px;
	background-color: red;
	transition: width 0.25s ease-out;
  }
  .underline-hover-effect:hover::before {
	width: 80%;
  }

u{
	text-decoration: none; /* Remove default underline */
border-bottom: 2px solid red;
}
input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
	width: 100%;
	padding: 10px;
	font-size: 16px;
	background-color: #222;
	border: none;
	border-radius: 5px;
	color: white;
}

select option:hover {
	background-color: grey;
  }

input[type="submit"] {
	grid-column: 1/3;
	padding: 15px;
	border-radius: 5px;
	background-color: #e30613;
	color: white;
	font-size: 24px;
	font-weight: bold;
	border: none;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #ff4656;
}

input[type="checkbox"]:checked {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: 5px solid red;
    background-color: red;
  }

 

.glow-border {
	border: 2px solid red;
	box-shadow: 0 0 10px red;
	animation: glow 1s ease-in-out infinite;
  }
  
  @keyframes glow {
	0% {
	  box-shadow: 0 0 10px red;
	}
	50% {
	  box-shadow: 0 0 20px red;
	}
	100% {
	  box-shadow: 0 0 10px red;
	}
  }
  